<div mat-dialog-title>
  <h1>Preencha o formulário abaixo:</h1>
</div>
<div mat-dialog-content class="content">
  <div class="row">
    <mat-form-field appearance="outline">
      <input matInput type="text" placeholder="Nome do Item">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput type="number" placeholder="">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput type="number" placeholder="">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput type="number" placeholder="">
    </mat-form-field>
  </div>


  <div class="row">
    <mat-form-field color="primary">
      <mat-label>Validade</mat-label>
      <input matInput [matDatepicker]="picker1">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field color="primary">
      <mat-label>Fabricação</mat-label>
      <input matInput [matDatepicker]="picker2">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 color="primary"></mat-datepicker>
    </mat-form-field>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-raised-button>Cancelar</button>
  <button mat-raised-button color="primary">Salvar</button>
</div>