.content {
  padding-top: 15px;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 8px;

  mat-form-field {
    width: 100%;
  }
}
.action {
  padding: 0px 25px 20px;
  button {
    flex: 1;
    height: 52px;
  }
}